*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.container{
    width: 100%;
    padding: 2rem;
}

#header-blue{
    background-color: #0084fd;
    width: 100%;
}

.list-header{

    display: none;
}

.navigator{
    display: flex;
    justify-content: space-between;
}

.left-box{
    background-color: #064e92;
    width: 50%;
    height: 50px;

}

.right-box{
    background-color: #022648;
    width: 50%;
    height: 50px;
    text-align: end;
}

.cards .card{
    background-color: aqua;
    width: 80%;
    height: 300px;
    margin: 2rem;
}

.phone-img{
    height: 300px;
    width: 200px;
}

.information{
    display: flex;
    flex-direction: column;
    background-color: #9792e4;
}

.test-img{
}

.img-planning{
    width: 300px;
    height: 300px;
}

.img-planning-two{
    width: 200px;
    height: 200px;
    margin-left: 5rem;
    margin-bottom: 3rem;
}

.text-one{
    color: white;
    font-size: 2rem;
    padding-top: 3rem;
}

.img-text{
    padding: 2rem;
}

.img-text-two{
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    height: 344px;
    text-align: center;
}

.img-text-box{
    background-color: aqua;
    text-align: center;
    display: inline-block;
    border-radius: 2rem;
    margin-top: 2rem;
}

.img-box{
    width: 200px;
    height: 200px;
    background-color: darkgreen;
    margin-left: 5rem;
}

.testimonial-info{
    margin-top: 2rem;
}

.card-benefit{
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.text-card{
    color: #929292;
    padding: 2rem;
    font-size: 1.5rem;
}

.text-card h2,h3{
    color: #9792e4;
}

.title-text{
    background-color: coral;
    height: 500px;
}

.img-text-about{
    background-color: rgb(144, 45, 8);
    height: 500px;
}

.content-text-started{
    background-color: rgb(8, 17, 144);
    height: 500px;
    text-align: center;
}

#strategic-planning{
    background-color: #9792e4;
}

#benefits{
    background-color: #9792e4;
}

#get-started{
    background-color: #9792e4;
}

#footer-black{
    background-color: rgb(22, 22, 22);
    color: white;
}

/* Responsive */

/* tablet */
@media screen and (min-width: 768px) {
    
    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card{
        background-color: aqua;
        width: calc(100% / 3);
        height: 300px;
        margin: 0;
    }

    .cards .card:first-child{
        background-color: aqua;
        width: calc((100% / 3) * 2);
        height: 300px;
        margin: 0;
    }

    .img-text-box{
        background-color: aqua;
        text-align: center;
        display: flex;
        border-radius: 2rem;
        margin-top: 2rem;
    }

    .card-benefit{
        display: inline-block;
        background-color: white;
    }

    .about-text{
        display: flex;
    }



}



/* desktop */
@media screen and (min-width: 992px) {

    .container{
        padding: 2rem;
        width: 900px;
        margin: 0 auto;
        
    }



    .information{
        display: flex;
        background-color: #9792e4;
        flex-direction: row;
    }

    .list-header{
        color: white;
        display: flex;
        list-style: none;
        margin: 1rem;
    }


    .img-text-box{
        background-color: aqua;
        text-align: center;
        display: flex;
        border-radius: 2rem;
        margin-top: 2rem;
    }

    .about-text{
        display: flex;
    }

}