*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.container{
    width: 100%;
    padding: 2rem;
}

#header-blue{
    background-color: #0084fd;
    width: 100%;
}



.navigator{
    display: flex;
    justify-content: space-between;
}

.list-header{
    display: none;
}

.left-box{

}

.right-box i{
    color: white;
    font-size: 2rem;
}

.test i{
    font-size: 4.5rem;
    text-align: center;
    color: #0084fd;
}

.test h4{
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: #0084fd;
}



.cards .card{
    background-color: aqua;
    width: 80%;
    height: 300px;
    margin: 3rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 2rem;
}

.cards .card:first-child{
    height: 500px;
    margin: 3rem;
}

.phone-img{
    height: 300px;
    width: 200px;
}

.information{
    display: flex;
    flex-direction: column;
    background-color: #9792e4;
}

.first-text p{
    font-size: 2rem;
    text-align: center;
}

.first-text h3{
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
    color: #9792e4;
}

.first-text p{
    font-size: 1.4rem;
}

.text-under-img p{
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    color: white;

}

.text-under-img span{
    font-size: 1.5rem;
    text-decoration: solid;
    color: white;

}

.img-planning{
    width: 300px;
    height: 300px;
}

.img-planning-two{
    width: 200px;
    height: 200px;
    margin-left: 5rem;
    margin-bottom: 3rem;
}

.text-one{
    color: white;
    font-size: 2rem;
    padding-top: 3rem;
}

.img-text{
    padding: 2rem;
}

.img-text-two{
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    height: 440px;
    text-align: center;
}

.img-text-box{
    background-color: #9792e4;
    text-align: center;
    display: inline-block;
    border-radius: 2rem;
    margin-top: 2rem;
}

.img-box img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.testimonial-info{
    margin-top: 2rem;
}

.card-benefit{
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.text-benefits h1{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 2rem;
}

.text-card{
    color: #929292;
    padding: 2rem;
    font-size: 1.5rem;
}

.text-card span{
    font-size: 1rem;
    border-radius: 1rem;
    padding: .7rem;
    color: white;
    background-color: #9792e4;
}

.text-card h2, h3{
    color: #9792e4;
}

.text-one h3{
    padding: 1rem;
}

.text h3{
    font-size: 1.5rem;
    margin: 1rem;
}

.text p{
    font-style: oblique;
    font-size: 1rem;
    margin: 1rem;
}

.text i{
    font-size: 2rem;
    background-color: #9792e4;
    padding: 1rem;
    border-radius: 100%;

}

.title-text{
}

.title-text h1{
    color: #9792e4;
    font-size: 3rem;
    padding: 2rem;
}

.title-text p{
    font-size: 2rem;
    padding: 2rem;
}

.img-text-about{
}

.img-about img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.under-img h3{
    font-size: 2rem;
    padding: 2rem;
}

.under-img span{
    font-size: 1rem;
    padding: 1rem;
    background-color: #9792e4;
    border-radius: 2rem;
    margin-left: 2rem;
}

.content-text-started{
    background-color: rgb(8, 17, 144);
    height: 500px;
    text-align: center;
}

#strategic-planning{
    background-color: #9792e4;
}

#benefits{
    background-color: #9792e4;
}

#get-started{
    background-color: #9792e4;
}

#footer-black{
    background-color: rgb(22, 22, 22);
    color: white;
}

/* Responsive */

/* tablet */
@media screen and (min-width: 768px) {
    
    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card{
        background-color: aqua;
        width: calc(100% / 3);
        height: 300px;
        margin: 0;
        padding: 1rem;
    }

    .cards .card:first-child{
        background-color: aqua;
        width: calc((100% / 3) * 2);
        height: 300px;
        margin: 0;
    }

    .img-text-box{
        background-color: #9792e4;
        text-align: center;
        display: flex;
        border-radius: 2rem;
        margin-top: 2rem;
    }

    .img-text-two{
        background-color: rgb(255, 255, 255);
        border-radius: 2rem;
        height: 440px;
        text-align: center;
    }

    .card-benefit{
        display: inline-block;
        background-color: white;
    }

    .about-text{
        display: flex;
    }
    .list-header{
        color: white;
        display: flex;
        list-style: none;
        margin: 1rem;
        padding-right: 3rem;
    }

    .item-list{
        margin-right: 2rem;
    }

    .right-box i{
        color: white;
        font-size: 2rem;
        display: none;
    }

    .item-list span{
        color: black;
        background-color: white;
        font-size: 1.2rem;
        border-radius: 1rem;
        padding: .3rem;
    }

    .phone-img{
        height: 185px;
        width: 198px;
    }

    .text-under-img p{
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        color: white;

    }
    
    .text-under-img span{
        font-size: 1.5rem;
        text-decoration: solid;
        color: white;

    }

    .first-text p{
        font-size: 2rem;
        text-align: center;
    }
    
    .first-text h3{
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
        color: #9792e4;
    }
    
    .first-text p{
        font-size: 1.4rem;
    }

    .text-card span{
        font-size: 1rem;
        border-radius: 1rem;
        padding: .7rem;
        color: white;
        background-color: #9792e4;
    }

    .title-text h1{
        color: #9792e4;
        font-size: 3rem;
        padding: 2rem;
    }
    
    .title-text p{
        font-size: 2rem;
        padding: 2rem;
    }
    


}



/* desktop */
@media screen and (min-width: 992px) {

    .container{
        padding: 2rem;
        width: 900px;
        margin: 0 auto;
        
    }



    .information{
        display: flex;
        background-color: #9792e4;
        flex-direction: row;
    }

    .list-header{
        color: white;
        display: flex;
        list-style: none;
        margin: 1rem;
    }


    .img-text-box{
        background-color: #9792e4;
        text-align: center;
        display: flex;
        border-radius: 2rem;
        margin-top: 2rem;
    }

    .img-text-two{
        background-color: rgb(255, 255, 255);
        border-radius: 2rem;
        height: 440px;
        text-align: center;
    }

    .about-text{
        display: flex;
    }

    .right-box i{
        color: white;
        font-size: 2rem;
        display: none;
    }

    .item-list span{
        color: black;
        background-color: white;
        font-size: 1.2rem;
        border-radius: 1rem;
        padding: .3rem;
    }

    .phone-img{
        height: 185px;
        width: 198px;
    }

    .text-under-img p{
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        color: white;
    }
    
    .text-under-img span{
        font-size: 1.5rem;
        text-decoration: solid;
        color: white;
    }

    .first-text p{
        font-size: 2rem;
        text-align: center;
    }
    
    .first-text h3{
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
        color: #9792e4;
    }
    
    .first-text p{
        font-size: 1.4rem;
    }

    .text-card span{
        font-size: 1rem;
        border-radius: 1rem;
        padding: .7rem;
        color: white;
        background-color: #9792e4;
    }
    
    .title-text h1{
        color: #9792e4;
        font-size: 3rem;
        padding: 2rem;
    }
    
    .title-text p{
        font-size: 2rem;
        padding: 2rem;
    }

}