*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.container{
    width: 100%;
    padding: 2rem;
}

.cards .card{
    background-color: aqua;
    width: 80%;
    height: 300px;
    margin: 2rem;
}

.information{
    display: flex;
    flex-direction: column;
    background-color: #9792e4;
}

.test-img{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.img-text{
    padding: 2rem;
}

.img-text-two{
    background-color: brown;
}


/* Responsive */

/* tablet */
@media screen and (min-width: 768px) {
    
    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card{
        background-color: aqua;
        width: calc(100% / 3);
        height: 300px;
        margin: 0;
    }

    .cards .card:first-child{
        background-color: aqua;
        width: calc((100% / 3) * 2);
        height: 300px;
        margin: 0;
    }

    .information{
        display: flex;
        background-color: #9792e4;
    }


}



/* desktop */
@media screen and (min-width: 992px) {

    .container{
        padding: 2rem;
        width: 900px;
        margin: 0 auto;
        
    }

    .information{
        display: flex;
        background-color: #9792e4;
    }



}